@import 'vars.less';

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin-top: 68px;

  @media @sm {
    margin-top: 24px;
  }

  &__logo {
    align-self: center;

    @media @sm {
      text-align: start;
      align-self: start;
      margin: 0;
      margin-top: 64px;
    }
  }

  &__subtitle {
    color: @neutral-gray-color;
    max-width: 500px;
    text-align: center;
    margin-top: 10px;

    @media @sm {
      text-align: start;
    }
  }

  &__title {
    margin-top: 25px;
    text-align: center;
    max-width: 900px;

    @media @sm {
      font-weight: 400;
      text-align: start;
    }
  }
}

.next-checkpoint {
  margin-top: 200px;
  padding-left: 64px;
  border-radius: 8px;
  background-color: @background-color-30;
  display: flex;
  justify-content: space-between;

  @media @sm {
    flex-direction: column-reverse;
    align-items: stretch;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
  }

  &__info {
    margin-top: 64px;
    display: flex;
    padding-bottom: 100px;
    align-items: start;
    flex-direction: column;
    max-width: 600px;

    @media @md {
      max-width: 300px;
    }

    @media @sm {
      align-items: stretch;
      max-width: 100%;
      padding-bottom: 64px;
    }

    &__title {
      color: @foreground-color-70;
      margin-top: 16px;
    }

    &__description {
      color: @foreground-color-30;
    }

    &__subtitle {
      margin-top: 32px;
      color: @foreground-color-70;
    }

    &__button {
      margin-top: 128px;

      @media @md {
        margin-top: 64px;
      }
    }

  }

  &__illustration {
    width: 70%;
    align-self: center;
    padding-top: 10px;
    padding-right: 10px;
  }
}

.possibilities {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media @sm {
    justify-content: start;
    align-items: start;
  }

  &__info {
    text-align: center;
    flex-direction: column;
    max-width: 670px;

    @media @sm {
      text-align: start;
    }

    &__subtitle {
      color: @foreground-color-50;
    }
  }

  &__advantage-cards {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    @media @sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.feedback {
  margin-top: 200px;

  &__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  &__subtitle {
    max-width: 560px;
    color: @foreground-color-50;
    margin-top: 16px;
  }

  &__title {
    color: @foreground-color-70;
  }

  &__sponsors {
    padding: 0 200px;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
    justify-items: center;


    & svg {
      width: 64px;
      height: 64px;
    }

    @media @sm {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 40px;
    }
  }
}

.stats {
  margin-top: 110px;
  position: relative;
  background-color: @primary-color-10;
  overflow: hidden;

  &__content {
    padding: 100px 64px 100px 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;;

    * {
      z-index: 1;
    }

    @media @sm {
      text-align: start;
    }
  }

  &__decoration {
    position: absolute;
    top: 0;
    height: 100%;
  }

  &__left-decoration {
    left: 0;
  }

  &__right-decoration {
    right: 0;
  }

  &__title {
    max-width: 570px;
    margin: 0 auto;
  }

  &__subtitle {
    margin: 0 auto;
    max-width: 570px;
    margin-top: 16px;
  }

  &__numbers {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px;
    gap: 32px;

    @media @sm {
      align-self: start;
      grid-template-columns: repeat(2, 1fr);
      gap: 64px;
    }
  }

  &__ceil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    &__title {
      color: @primary-color-70;

      @media @sm {
        align-self: start;
        margin-left: 6px;
      }
    }
  }

  &__button {
    align-self: center;
    margin-top: 48px;
    background-color: @lime-color-50;
    color: @background-color-10;
  }
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
  gap: 24px;

  @media @sm {
    flex-wrap: wrap;
    gap: 8px;
  }

  &__card {
    border: @background-color-50 1px solid;
    border-radius: 8px;
    padding: 64px 38px 64px 32px;
    display: flex;
    max-width: 580px;
    flex-direction: column;
    align-items: start;
    text-align: start;

    &__head {
      display: flex;
      align-items: center;
    }

    &__title {
      margin-left: 32px;
    }

    &__description {
      margin-top: 16px;
      max-width: 450px;
      color: @foreground-color-50;
    }

    &__button {
      margin-top: 32px;
      color: @primary-color;
    }
  }
}